
@{
    ViewBag.Title = "Register1";
    Layout = null;
}

<h2>THÔNG TIN SINH VIÊN ĐĂNG KÝ</h2>
Mã sinh viên: @ViewBag.Id
<br />
Họ và tên: @ViewBag.Name
<br />
Điểm: @ViewBag.Marks
<br />
<a href="@Url.Action("Index", "SinhVien_65130650")">QUAY LẠI</a>