<section class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="heading_container ">
                    <h2 class="">
                        Liên hệ với chúng tôi
                    </h2>
                </div>
                <form action="#">
                    <div>
                        <input type="text" placeholder="Họ và tên" />
                    </div>
                    <div>
                        <input type="email" placeholder="Email" />
                    </div>
                    <div>
                        <input type="text" placeholder="Số điện thoại" />
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Ghi chú" />
                    </div>
                    <div class="btn-box">
                        <button>
                            Gửi
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>