
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<form name="f1" action="/NhanVien_65130650/Confirm" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td colspan="2">THÔNG TIN THÀNH VIÊN ĐĂNG KÝ</td>
        </tr>
        <tr>
            <td>Mã số sinh viên</td>
            <td><input type="text" name="EmpID" /></td>
        </tr>
        <tr>
            <td>Họ tên</td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td>Ngày sinh</td>
            <td><input type="date" name="BirthOfDate"/></td>
        </tr>   
        <tr>
            <td>Email</td>
            <td> <input type="email" name="Email" /></td>
        </tr>
        <tr>
            <td>Mật khẩu</td>
            <td><input type="password" name="Password"/></td>
        </tr>
        <tr>
            <td>Đơn vị</td>
            <td><input type="text" name="Department" /></td>
        </tr>
        <tr>
            <td>Ảnh đại diện</td>
            <td><input type="file" name="Avatar" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">  <input type="submit" value="Đăng ký"/> </td>
        </tr>
    </table>
</form>

